@font-face {
    font-family: PaySukiFont;
    src: url(../fonts/Rockwell-Regular.woff2) format('woff2');
        font-weight: normal;
    font-style: normal;
}

* {
    font-family: PaySukiFont, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar {
    min-height: 100px;
    background-color: #edebdf;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    padding: 10px 20px;
    position: relative;
}

.navbar > img {
    height: 80px;
    width: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-toggle {
    display: none;
}

.nav-link {
    text-decoration: none;
    color: black;

    padding: 10px 30px 10px 20px;
    border-radius: 20px;
    background-color: #d2a679;

    display: flex;
    align-items: center;
    gap: 8px;

    position: relative;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #b8865b;
}

.estrella {
    width: 16px;
    aspect-ratio: 1 / 1;
    object-fit: contain;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) scale(0.5);

    opacity: 0;
    transition: 0.25s;
}

.nav-link:hover .estrella {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

/* ========================= */
/* QUIENES SOMOS */
/* ========================= */

.contactoshort {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    gap: 80px;
    padding: 0 25px;
}

.textoShort {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textoShort h2 {
    font-size: 28px;
    margin-bottom: 14px;
    text-align: center;
}

.textoShort p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.btn-contacto {
    display: inline-block;
    margin-top: 20px;

    padding: 10px 20px;
    border-radius: 20px;
    background-color: #d2a679;
    color: black;
    text-decoration: none;

    transition: 0.3s;
}

.btn-contacto:hover {
    background-color: #b8865b;
}

.sobre {
    width: 350px;
}

.sobre img {
    width: 100%;
    height: auto;
    display: block;
}

/* ========================= */
/* PROCESO */
/* ========================= */

.pasos {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
    margin: 80px 0;
    padding: 0 25px;
}

.pasos-texto {
    max-width: 400px;
}

.pasos-texto h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.pasos-texto ol {
    padding-left: 20px;
}

.pasos-texto li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.pasos-img {
    width: 350px;
}

.pasos-img img {
    width: 100%;
    height: auto;
    display: block;
}

/* ========================= */
/* SLIDER PROMOCIONES */
/* ========================= */

.slider {
    text-align: center;
    margin: 80px 0;
    padding: 0 25px;
}

.slider h3 {
    margin-bottom: 40px;
    font-size: 22px;
}

.slider-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-track {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;

    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

.slide.active {
    opacity: 1;
}

button.prev,
button.next {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

/* ========================= */
/* CLIENTES */
/* ========================= */

.sliderclientes {
    text-align: center;
    margin: 100px 0;
    padding: 0 25px;
}

.sliderclientes h3 {
    margin-bottom: 40px;
}

.clientes-container {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1000px;
    margin: auto;
    position: relative;
}

.clientes-track {
    width: 800px;
    position: relative;
    height: 260px;
}

.cliente {
    display: flex;
    align-items: center;
    gap: 40px;

    border: 2px solid black;
    padding: 30px;

    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.cliente.active {
    opacity: 1;
}

.cliente-img {
    width: 200px;
    height: 200px;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.cliente-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cliente-info {
    text-align: left;
}

.cliente-info h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cliente-info p {
    margin-bottom: 5px;
}

.prev-cliente,
.next-cliente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;

    font-size: 70px;
    cursor: pointer;
    z-index: 10;
}

.prev-cliente {
    left: -60px;
}

.next-cliente {
    right: -60px;
}

/* ========================= */
/* FOOTER */
/* ========================= */

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 35px 20px;
}

.footer p {
    margin: 0;
}

.footer-copy {
    margin-bottom: 12px;
    font-size: 18px;
}

.footer-title {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: bold;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 35px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.redes a {
    display: inline-block;
}

.redes img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: transform 0.25s ease;
}

.redes img:hover {
    transform: scale(1.08);
}

.footer-link,
.footer-link:visited {
    color: white;
    text-decoration: none;

    display: inline-block;
    position: relative;

    margin-top: 5px;
    font-size: 18px;
}

.footer-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0;
    height: 2px;
    background-color: white;

    transition: width 0.3s ease;
}

.footer-link:hover {
    color: white;
}

.footer-link:hover::after {
    width: 100%;
}

/* ========================= */
/* PRIVACY */
/* ========================= */

.privacy-hero {
    text-align: center;
    padding: 60px 20px;
}

.privacy-hero h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.privacy-hero p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.privacy-container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 25px;
}

.privacy-card {
    background-color: #f8f4ea;
    border-radius: 25px;
    padding: 35px;
    margin-bottom: 30px;
    border: 2px solid #d2a679;
}

.privacy-card {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.privacy-card li,
.privacy-card p,
.privacy-card strong {
    overflow-wrap: anywhere;
    word-break: normal;
}

.privacy-card h2 {
    font-size: 26px;
    margin-bottom: 18px;
    color: #5a3b24;
}

.privacy-card h3 {
    font-size: 20px;
    margin: 20px 0 10px;
    color: #7a4f2b;
}

.privacy-card p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px;
}

.privacy-card ul {
    padding-left: 25px;
    margin-bottom: 15px;
}

.privacy-card li {
    margin-bottom: 8px;
    line-height: 1.6;
}

.privacy-date {
    font-weight: bold;
    color: #7a4f2b;
    margin-bottom: 20px;
}

.privacy-note {
    background-color: #edebdf;
    border-left: 6px solid #d2a679;
    padding: 18px;
    border-radius: 15px;
    margin-top: 15px;
}

.dato-largo {
    overflow-wrap: anywhere;
}


.contacto-section {
    width: 100%;
    max-width: 700px;
    margin: 50px auto 80px;
    padding: 0 25px;
    text-align: center;
}

.contacto-section h1 {
    font-size: 34px;
    margin-bottom: 25px;
    font-weight: normal;
}

.contacto-form {
    border: 2px solid black;
    padding: 35px 55px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    border: 2px solid black;
    padding: 12px;
    font-family: PaySukiFont, Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    outline: none;
}

.form-group input,
.form-group select {
    height: 48px;
}

.form-group textarea {
    resize: none;
    line-height: 1.4;
}

.btn-enviar {
    margin-top: 30px;
    padding: 8px 45px;

    border: 2px solid black;
    border-radius: 12px;
    background-color: white;
    color: black;

    font-family: PaySukiFont, Arial, sans-serif;
    font-size: 22px;

    cursor: pointer;
    transition: 0.3s;
}

.btn-enviar:hover {
    background-color: #d2a679;
}

.response-section {
    width: 100%;
    max-width: 900px;
    margin: 50px auto 80px;
    padding: 0 25px;
    text-align: center;
}

.response-card {
    background-color: #edebdf;
    border: 2px solid #d2a679;
    border-radius: 25px;
    padding: 45px 30px;
}

.response-card h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.response-card p {
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 35px;
}

.response-star {
    width: 170px;
    height: auto;
}
.about-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    margin: 60px auto 90px;
    padding: 0 30px;
}

.about-logo {
    width: 350px;
}

.about-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.about-texto {
    max-width: 520px;
    text-align: center;
}

.about-texto h1 {
    font-size: 32px;
    margin-bottom: 18px;
}

.about-texto p {
    font-size: 17px;
    line-height: 1.6;
}

.about-info {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.about-bloque {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;

    margin-bottom: 90px;
}

.about-bloque.reverse {
    flex-direction: row-reverse;
}

.about-bloque-texto {
    max-width: 480px;
    text-align: center;
}

.about-bloque-texto h2 {
    font-size: 30px;
    margin-bottom: 18px;
}

.about-bloque-texto p {
    font-size: 16px;
    line-height: 1.6;
}

.about-bloque-img {
    width: 380px;
}

.about-bloque-img img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.about-contacto {
    text-align: center;
    margin: 20px 0 80px;
}

.productos-slider {
    text-align: center;
    margin: 70px 0;
    padding: 0 25px;
}

.productos-slider h1 {
    font-size: 34px;
    margin-bottom: 35px;
}

.productos-lista {
    width: 100%;
    max-width: 1000px;
    margin: 70px auto 100px;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    gap: 45px;
}

.producto-card {
    display: flex;
    align-items: center;
    gap: 35px;

    background-color: #edebdf;
    border: 2px solid #d2a679;
    border-radius: 25px;

    padding: 25px;
}

.producto-img {
    width: 210px;
    height: 210px;
    flex-shrink: 0;

    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.producto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.producto-info {
    text-align: left;
}

.producto-info h2 {
    font-size: 26px;
    margin-bottom: 8px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.producto-info select {
    margin-bottom: 15px;
    padding: 8px 12px;

    border: 2px solid #d2a679;
    border-radius: 12px;
    background-color: white;

    font-family: PaySukiFont, Arial, sans-serif;
    font-size: 16px;
}

.producto-info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 18px;
}

.btn-carrito {
    padding: 10px 22px;

    border: none;
    border-radius: 20px;
    background-color: #d2a679;
    color: black;

    font-family: PaySukiFont, Arial, sans-serif;
    font-size: 17px;

    cursor: pointer;
    transition: 0.3s;
}

.btn-carrito:hover {
    background-color: #b8865b;
}

.cart-link {
    width: 46px;
    height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d2a679;
    border-radius: 50%;

    text-decoration: none;
    transition: 0.3s;
}

.cart-link img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.cart-link:hover {
    background-color: #b8865b;
    transform: scale(1.05);
}


@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    /* NAVBAR CON HAMBURGUESA */
    .navbar {
        min-height: 80px;
        height: auto;

        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        padding: 15px 22px;
        gap: 0;
    }

    .navbar > img {
        width: 55px;
        height: 55px;
        object-fit: contain;
    }

    .menu-toggle {
        display: block;

        background-color: #d2a679;
        color: black;
        border: none;
        border-radius: 15px;

        font-size: 28px;
        padding: 8px 16px;

        cursor: pointer;
    }

    .nav-menu {
        display: none;

        width: 100%;
        margin-top: 15px;

        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-link {
        width: 100%;
        max-width: 270px;

        justify-content: center;
        text-align: center;

        font-size: 16px;
        padding: 12px 20px;
    }

    .estrella {
        display: none;
    }

    /* QUIENES SOMOS */
    .contactoshort {
        flex-direction: column;
        gap: 30px;

        margin-top: 45px;
        padding: 0 25px;

        text-align: center;
    }

    .sobre {
        width: 100%;
        max-width: 320px;
    }

    .textoShort {
        width: 100%;
        max-width: 520px;
    }

    .textoShort h2 {
        font-size: 28px;
    }

    .textoShort p {
        font-size: 17px;
        line-height: 1.6;
    }

    .btn-contacto {
        padding: 12px 28px;
        font-size: 16px;
    }

    /* PROCESO */
    .pasos {
        margin: 70px 0;
        padding: 0 25px;
        gap: 0;
    }

    .pasos-img {
        width: 100%;
        max-width: 420px;
    }

    /* SLIDER */
    .slider {
        margin: 70px 0;
        padding: 0 25px;
        overflow-x: hidden;
    }

    .slider-container {
        max-width: 520px;
        justify-content: center;
        gap: 10px;
    }

    .slider-track {
        width: 100%;
        max-width: 390px;
        height: 280px;
    }

    button.prev,
    button.next {
        font-size: 26px;
    }

    /* CLIENTES */
    .sliderclientes {
        margin: 80px 0;
        padding: 0 25px;
        overflow-x: hidden;
    }

    .clientes-container {
        max-width: 520px;
        padding: 0 15px;
        overflow: hidden;
    }

    .clientes-track {
        width: 100%;
        max-width: 450px;
        height: 520px;
        margin: 0 auto;
    }

    .cliente {
        width: 100%;
        max-width: 450px;

        flex-direction: column;
        align-items: center;
        gap: 18px;

        padding: 25px 35px;
    }

    .cliente-img {
        width: 170px;
        height: 170px;
    }

    .cliente-info {
        width: 100%;
        text-align: center;
    }

    .cliente-info h4 {
        font-size: 24px;
    }

    .cliente-info p,
    .cliente-info p strong {
        font-size: 17px;
        line-height: 1.4;
        overflow-wrap: break-word;
    }

    .prev-cliente,
    .next-cliente {
        font-size: 38px;
        top: 50%;
    }

    .prev-cliente {
        left: 5px;
    }

    .next-cliente {
        right: 5px;
    }

    /* FOOTER */
    .footer {
        padding: 40px 20px;
    }

    .footer p {
        font-size: 20px;
        line-height: 1.3;
    }

    .redes {
        gap: 30px;
        margin: 25px 0;
    }

    .redes img {
        width: 60px;
        height: 60px;
    }

    .footer-link {
        font-size: 18px;
    }

    /* PRIVACY */
    .privacy-hero {
        padding: 45px 25px;
    }

    .privacy-hero h1 {
        font-size: 32px;
    }

    .privacy-hero p {
        font-size: 16px;
    }

    .privacy-container {
        width: 100%;
        margin: 40px auto;
        padding: 0 20px;
    }

    .privacy-card {
        padding: 25px;
    }

    .privacy-card h2 {
        font-size: 23px;
    }

    .privacy-card h3 {
        font-size: 18px;
    }

    .privacy-card p,
    .privacy-card li {
        font-size: 15px;
    }

    .about-hero {
    flex-direction: column;
    gap: 30px;
    margin: 45px auto 70px;
    padding: 0 25px;
}

.about-logo {
    width: 100%;
    max-width: 320px;
}

.about-texto {
    max-width: 520px;
}

.about-texto h1 {
    font-size: 28px;
}

.about-texto p {
    font-size: 16px;
}

.about-info {
    padding: 0 25px;
}

.about-bloque,
.about-bloque.reverse {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 70px;
}

.about-bloque-texto {
    max-width: 520px;
}

.about-bloque-texto h2 {
    font-size: 27px;
}

.about-bloque-img {
    width: 100%;
    max-width: 420px;
}

.about-bloque-img img {
    height: 230px;
}

.productos-slider {
    margin: 55px 0;
    padding: 0 25px;
}

.productos-slider h1 {
    font-size: 28px;
}

.productos-lista {
    margin: 60px auto 80px;
    padding: 0 25px;
    gap: 35px;
}

.producto-card {
    flex-direction: column;
    text-align: center;
    gap: 22px;
}

.producto-info {
    text-align: center;
}

.producto-img {
    width: 200px;
    height: 200px;
}

.cart-link {
    width: 100%;
    max-width: 270px;
    height: auto;

    padding: 12px 20px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-link img {
    width: 30px;
    height: 30px;
}
}


@media (max-width: 480px) {

    .about-hero {
    margin: 38px auto 60px;
    padding: 0 22px;
}

.about-logo {
    max-width: 260px;
}

.about-texto h1 {
    font-size: 25px;
}

.about-texto p {
    font-size: 16px;
    line-height: 1.55;
}

.about-info {
    padding: 0 20px;
}

.about-bloque,
.about-bloque.reverse {
    gap: 25px;
    margin-bottom: 60px;
}

.about-bloque-texto h2 {
    font-size: 24px;
}

.about-bloque-texto p {
    font-size: 15px;
    line-height: 1.55;
}

.about-bloque-img {
    max-width: 330px;
}

.about-bloque-img img {
    height: 200px;
}

.about-contacto {
    margin: 10px 0 60px;
}

    .navbar {
        padding: 12px 18px;
    }

    .navbar > img {
        width: 50px;
        height: 50px;
    }

    .menu-toggle {
        font-size: 25px;
        padding: 7px 14px;
    }

    .nav-link {
        max-width: 240px;
        font-size: 15px;
        padding: 11px 18px;
    }

    .contactoshort {
        margin-top: 38px;
        padding: 0 22px;
        gap: 25px;
    }

    .sobre {
        max-width: 260px;
    }

    .textoShort h2 {
        font-size: 25px;
        margin-bottom: 14px;
    }

    .textoShort p {
        font-size: 16px;
        line-height: 1.55;
    }

    .btn-contacto {
        font-size: 15px;
        padding: 11px 24px;
    }

    .pasos {
        margin: 60px 0;
        padding: 0 20px;
    }

    .pasos-img {
        max-width: 330px;
    }

    .slider {
        margin: 60px 0;
        padding: 0 20px;
    }

    .slider h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .slider-container {
        max-width: 340px;
        gap: 8px;
    }

    .slider-track {
        max-width: 270px;
        height: 230px;
    }

    button.prev,
    button.next {
        font-size: 24px;
    }

    .sliderclientes {
        margin: 70px 0;
        padding: 0 20px;
    }

    .sliderclientes h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .clientes-container {
        max-width: 340px;
        padding: 0;
    }

    .clientes-track {
        max-width: 300px;
        height: 500px;
    }

    .cliente {
        max-width: 300px;
        padding: 18px 26px;
        gap: 15px;
    }

    .cliente-img {
        width: 145px;
        height: 145px;
    }

    .cliente-info h4 {
        font-size: 21px;
    }

    .cliente-info p,
    .cliente-info p strong {
        font-size: 15px;
        line-height: 1.35;
    }

    .prev-cliente,
    .next-cliente {
        font-size: 32px;
    }

    .prev-cliente {
        left: 2px;
    }

    .next-cliente {
        right: 2px;
    }

    .footer {
        padding: 35px 18px;
    }

    .footer p {
        font-size: 17px;
    }

    .redes {
        gap: 24px;
    }

    .redes img {
        width: 52px;
        height: 52px;
    }

    .footer-link {
        font-size: 16px;
    }

    .privacy-card {
    padding: 22px;
}

.privacy-card ul {
    padding-left: 20px;
}

.privacy-card li {
    font-size: 15px;
    line-height: 1.6;
}

.contacto-section {
    margin: 40px auto 60px;
    padding: 0 20px;
}

.contacto-section h1 {
    font-size: 28px;
}

.contacto-form {
    border: 2px solid black;
    padding: 35px 55px;
    text-align: left;
    background-color: #edebdf;
}

.form-group input,
.form-group select {
    height: 45px;
}

.form-group textarea {
    min-height: 160px;
}

.btn-enviar {
    font-size: 18px;
    padding: 8px 35px;
}

.response-section {
    margin: 40px auto 60px;
    padding: 0 20px;
}

.response-card {
    padding: 35px 22px;
}

.response-card h1 {
    font-size: 27px;
}

.response-card p {
    font-size: 21px;
}

.response-star {
    width: 120px;
}

.productos-slider {
    margin: 45px 0;
    padding: 0 20px;
}

.productos-slider h1 {
    font-size: 25px;
}

.productos-lista {
    margin: 50px auto 70px;
    padding: 0 20px;
    gap: 30px;
}

.producto-card {
    padding: 22px 18px;
}

.producto-img {
    width: 170px;
    height: 170px;
}

.producto-info h2 {
    font-size: 23px;
}

.producto-precio {
    font-size: 18px;
}

.producto-info p {
    font-size: 15px;
}

.btn-carrito {
    font-size: 16px;
    padding: 10px 20px;
}

.cart-link {
    max-width: 240px;
    padding: 11px 18px;
}

.cart-link img {
    width: 28px;
    height: 28px;
}
}